doctype html
html
  head
    title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      meta(name="viewport", content="width=device-width", initial-sclae="1.0")
  body
    block content

    script(type='text/javascript', src='/lib/jquery-1.11.1.min.js')
    script(type='text/javascript', src='/lib/d3.js')
    script(type='text/javascript', src='/js/gend3.js')
